@media (orientation: portrait) {
  .Personal-info {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .Profile-div {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    overflow: hidden;
    margin: auto;
  }

  .Profile {
    margin-left: -35px;
    width: 225px;
    height: auto;
    align-self: center;
  }

  .Profile-info-div {
    flex: 1;
    align-items: center;
    margin: auto;
  }
}

@media (orientation: landscape) {
  .Personal-info {
    display: flex;
    flex-direction: column;
  }

  .Profile-div {
    max-width: 18vw;
    height: 18vw;
    margin: 1vw;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
  }

  .Profile {
    margin-left: -5vw;
    height: 100%;
    width: auto;
  }
}
