@media (orientation: portrait) {
  .Text {
    font-size: 12px;
    text-align: center;
    font-weight: bold;
  }
}

@media (orientation: landscape) {
  .Text {
    font-size: 1.3vw;
    text-align: center;
    font-weight: bold;
  }
}
