.Skills-div {
  display: flex;
  align-items: flex-start;
}
.Title {
  margin: 2vw;
}

.fieldsetContainer {
  height: 0;
  overflow: hidden;
  transition: height 400ms linear;
}

#toggle {
  display: none;
}

#toggle:checked ~ .fieldsetContainer {
  height: 50px;
}

label .arrow-dn {
  display: inline-block;
}
label .arrow-up {
  display: none;
}

#toggle:checked ~ label .arrow-dn {
  display: none;
}
#toggle:checked ~ label .arrow-up {
  display: inline-block;
}
