.Education-div {
  display: flex;
  margin-left: 2vw;
  margin-right: 2vw;
}

.Description-div {
  width: 100%;
  align-self: flex-start;
  border-bottom-style: solid;
  border-bottom-color: grey;
  border-bottom-width: 1px;
}

.Education-title {
  font-size: 24px;
}

.Education-type {
  font-size: 18px;
}

.Education-date {
  font-size: 12px;
}
