.Skill-div {
  display: flex;
  flex-direction: row;
  margin-bottom: 1%;
}

.Text-div {
  flex: 1;
  margin-left: 1%;
  font-size: 14px;
  min-width: 90px;
}

.Bar-div {
  flex: 9;
  background-color: #f1f1f1;
  align-self: center;
}

.Bar-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background-color: grey;
  max-height: 40px;
  padding-top: 1px;
}

#skbar {
  position: relative;
  transition: 1s;
  overflow: hidden;
  width: 200px;
  left: 0;
}

#skbar.notLoaded {
  left: -350px;
}

.Bar-text {
  margin-right: 1vw;
  color: #fff;
}
