@media (orientation: portrait) {
  .App {
    min-height: 100%;
    background-color: #f1f1f1;
  }

  .Body {
    flex-direction: column;
    width: 100%;
  }

  .Info-div {
    height: 200px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    padding-left: 1vw;
    padding-right: 1vw;
    align-items: center;
    border-bottom-width: 2px;
    border-bottom-color: grey;
    border-bottom-style: solid;
    background-color: grey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .Content-div {
    margin-top: 200px;

    width: 100%;
  }
}

@media (orientation: landscape) {
  .App {
    min-height: 100%;
    background-color: #f7f7f7;
  }

  .Body {
    display: flex;
    flex-direction: row;
  }

  .Info-div {
    position: fixed;
    width: 20%;
    min-height: 100%;
    border-right-width: 2px;
    border-right-color: grey;
    border-right-style: solid;
    background-color: grey;
  }

  .Content-div {
    width: 100%;
    margin-left: 20%;
  }
}

.Card-container {
  padding: 2% 2%;
}

.Card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  margin-bottom: 2%;
}

@-webkit-keyframes slide {
  100% {
    left: 0;
  }
}

@keyframes slide {
  100% {
    left: 0;
  }
}

.Card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.Info-container {
  padding-bottom: 4vw;
}
